page-sign-up {
    .signup-body-content {
        background: #d61347;
        background: -webkit-gradient(linear, left top, right top, from(#d61347), to(#e2597e));
        background: linear-gradient(to right, #d61347, #e2597e);
        .logo-row {
            padding-top: 20px;
            img {
                width: 50%;
            }
        }
        .signup-box {
            background: #e86085;
            padding: 20px 20px 0px 20px;
            margin-top: 30px;
            .title {
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                color: #79253b;
                line-height: 0;
            }
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .error-message {
            color: #ffffff;
            text-align: center;
            font-size: 12px;
        }
        .invalid {
            color: red;
        }
    }
}